:root{
    --primary-color: green;
    --second-color: blue;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* ฟอนต์สมัยใหม่ */
    line-height: 1.6; /* เพิ่มระยะห่างบรรทัดให้อ่านสบายตา */
    color: #333; /* สีตัวอักษรเทาเข้ม (อ่านสบายตากว่าดำสนิท) */
}

.subtitle {
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

h3{
    color: var(--second-color);
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.job-header h3{
    margin: 0;
}

.date {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul{
    margin: 0;
}

li {
    /* list-style-type: none; */
    margin-left: 20px;
}